SECRET_KEY=gere-uma-chave-secreta

DB_USER=usuario_postgres
PASSWORD=senha_postgres
IP=ip_postgres
PORT=porta_postgres
DB_NAME=db_nome

FLASK_DEBUG=1
SESSION_COOKIE_SECURE=0

APP_TIMEZONE=Zone-Time

# Importação de rotas a partir de memoriais DOCX
OSRM_BASE_URL=https://router.project-osrm.org
OSRM_TIMEOUT=45
MEMORIAL_MAX_BYTES=10485760
