<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSIG - GESTOR (SEMED)</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <h2>Gestor SEMED</h2>
            <hr>
            <div id="info-escola">
                <p>Clique em uma Unidade de Ensino para ter mais informações!</p>
            </div>
        </div>


        <div id="map"></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script
        type="module"
        src="{{ url_for('static', filename='js/mapa.js') }}">
    </script>
</body>
</html>